<div class='Hall'>

    <h1>Welcome to the cinema!</h1>
    <div>
        All places:
        {{getAll()}}
    </div><br>
    <div class="Place" *ngFor="let chair of getPlaces()"><span *ngIf="chair===true; else full">Free</span></div><br><br>
    <ng-template #full>
        <span>Take</span>
      </ng-template>

    <div>
        Free places:
        {{getFree()}}
    </div>

    <div>
        Take places:
        {{getAll()-getFree()}}
    </div><br><br>
    <span>Buy ticket in cash</span>
    <cash></cash><br><br>
    <span>Buy ticket in online-cash</span>
    <cash></cash><br>
    
  
  </div>
  