.Place {
    display: inline-block;
    background-color: lightgrey;
    width: 45px;
    height: 22px;
    text-align: center;
    margin-right: 5px;
    margin-top: 5px;
    padding-top: 4px;
  }

  .True {
    color: green;
    font-weight: bold;
  }

  .False {
    color: red;
    font-weight: bold;
  }