.Ishop2 .NameShop {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: green; 
}

.Ishop2 .MainCont {
    margin: auto;
    width: 300px;
    height: 180px;
}

.Ishop2 .Title {
    width: 329px;
    border: 4px double black; 
    border-collapse: separate; 
}

.Ishop2 .GoodsTable {
    width: 300px;
    border: 4px double black; 
    border-collapse: separate; 
}

.Ishop2 .GoodsTable .Product > td {
    width: 200px;
    text-align: center; 
    padding: 5px; 
    border: 1px solid black; 
}

.Ishop2 .GoodsTable .ProductChange > td{
    width: 200px;
    text-align: center; 
    padding: 5px; 
    border: 1px solid black; 
    background-color: #F44336; 
}

.Ishop2 .GoodsTable .ProductDelete > td{
    display: none; 
}

.Ishop2 .Title .Title2 > th{
    text-align: center; 
    padding: 5px; 
    border: 1px solid black; 
}