.Ishop2 .NameShop {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: green; 
}

.Ishop2 .MainCont {
    margin: auto;
    width: 375px;
    height: 180px;
}

.Ishop2 .Title {
    width: 332px;
    border: 1px solid black; 
    border-collapse: collapse;
}

.Ishop2 .GoodsTable {
    width: 300px;
    border: 1px solid black; 
    border-collapse: collapse;
}

.Ishop2 .GoodsTable .Product > td {
    text-align: center; 
    padding: 5px; 
    border: 1px solid black; 
    border-collapse: collapse;
}

.Ishop2 .GoodsTable .ProductChange > td{
    width: 200px;
    text-align: center; 
    padding: 5px; 
    border: 1px solid black; 
    background-color: #f9b57a; 
    border-collapse: collapse;
}

.Ishop2 .Title .Title2 > th{
    text-align: center; 
    padding: 5px; 
    border: 1px solid black; 
    border-collapse: collapse;
}
